<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileOfBannedPasswords" value="./listWorstPwd.txt" />
    <add key="adapt_matrix_path" value="./MMmem_ascii.bin" />
    <add key="CFHMM_matrix_path" value="./CFHMM_ascii.mat" />
    <add key="SimpleHMM_matrix_path" value="./SimpleHMM_ascii.mat" />
    <add key="LminNum" value="10" />
    <add key="LminLower" value="11" />
    <add key="LminUpper" value="12" />
    <add key="LminSpecial" value="9" />
    <add key="LminTwo" value="8" />
    <add key="LminThree" value="7" />
    <add key="LminAll" value="6" />
    <add key="MM_memsize" value="3" />
    <add key="char_encoding" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>